<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <!--        <session-config>
    <session-timeout>30</session-timeout>   Session expires after 30 minutes of inactivity 
</session-config>-->
    <display-name>Mega City Cab Booking System</display-name>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletContextListener</servlet-name>
        <servlet-class>Controller.ServletContextListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>Controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>Controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDUserServlet</servlet-name>
        <servlet-class>Controller.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVehicleServlet</servlet-name>
        <servlet-class>Controller.UpdateVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptBookingServlet</servlet-name>
        <servlet-class>Controller.AcceptBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCabPricingServlet</servlet-name>
        <servlet-class>Controller.AddCabPricingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLocationServlet</servlet-name>
        <servlet-class>Controller.AddLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehicleServlet</servlet-name>
        <servlet-class>Controller.AddVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveDriverRequestServlet</servlet-name>
        <servlet-class>Controller.ApproveDriverRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteBookingServlet</servlet-name>
        <servlet-class>Controller.CompleteBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IgnoreBookingServlet</servlet-name>
        <servlet-class>Controller.IgnoreBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>Controller.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitDriverRequestServlet</servlet-name>
        <servlet-class>Controller.SubmitDriverRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitRatingServlet</servlet-name>
        <servlet-class>Controller.SubmitRatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfileServlet</servlet-name>
        <servlet-class>Controller.UpdateUserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserRoleServlet</servlet-name>
        <servlet-class>Controller.UpdateUserRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookingServlet</servlet-name>
        <servlet-class>Controller.UpdateBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDUserServlet</servlet-name>
        <url-pattern>/CRUDUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVehicleServlet</servlet-name>
        <url-pattern>/UpdateVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptBookingServlet</servlet-name>
        <url-pattern>/AcceptBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCabPricingServlet</servlet-name>
        <url-pattern>/AddCabPricingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLocationServlet</servlet-name>
        <url-pattern>/AddLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehicleServlet</servlet-name>
        <url-pattern>/AddVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveDriverRequestServlet</servlet-name>
        <url-pattern>/ApproveDriverRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteBookingServlet</servlet-name>
        <url-pattern>/CompleteBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IgnoreBookingServlet</servlet-name>
        <url-pattern>/IgnoreBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitDriverRequestServlet</servlet-name>
        <url-pattern>/SubmitDriverRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitRatingServlet</servlet-name>
        <url-pattern>/SubmitRatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfileServlet</servlet-name>
        <url-pattern>/UpdateUserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserRoleServlet</servlet-name>
        <url-pattern>/UpdateUserRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookingServlet</servlet-name>
        <url-pattern>/UpdateBookingServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Main.jsp</welcome-file>
    </welcome-file-list>
</web-app>
